body {
  background-color: #232323;
  margin: 0;
  font-family: "Montserrat", "Avenir";
}

.square img {
  width: 100%;
  height: 100%;
}

.square {
  width: 25%;
  max-height: 300px;
  border: solid 5px transparent;
  transition: background 0.6s;
  -webkit-transition: background 0.6s;
  -moz-transition: background 0.6s;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  text-align: center;
  line-height: 1.1;
  font-weight: normal;
  color: white;
  background: steelblue;
  margin: 0;
  text-transform: uppercase;
  padding: 20px 0;
}

h2 {
  text-align: center;
  color: steelblue;
}

#msg {
  display: inline-block;
  width: 40%;
  font-size: 12px;
  font-weight: 700;
}
#textPresident {
  font-size: 200%;
}

#stripe {
  text-align: center;
  background: white;
  height: 40px;
  color: black;
}

.selected {
  color: white;
  background: steelblue;
}
#reset:before {
  content: "NEW PICTURES";
}
#six:before {
  content: "6";
}
#nine:before {
  content: "9";
}
button {
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  color: steelblue;
  font-size: 12px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  outline: none;
}

button:hover {
  color: white;
  background: steelblue;
}

img {
  border: solid 10px transparent;
}

img:hover {
  border-color: steelblue;
}

#final-message {
  color: black;
}

.popup-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.popup {
  background-color: #2980b9;
  border-radius: 5px;
  box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
  padding: 50px;
  text-align: center;
}

.popup button {
  cursor: pointer;
  background-color: #fff;
  color: #2980b9;
  border: 0;
  margin-top: 20px;
  padding: 12px 20px;
}

.popup button:active {
  transform: scale(0.98);
}

.popup button:focus {
  outline: 0;
}

@media (min-width: 550px) {
  #reset:before {
    content: "NEW PICTURES";
  }
  #numberOfImages:before {
    content: "#Images:";
  }
  #msg {
    font-size: 24px;
  }
  #six:before {
    content: "Six";
  }
  #nine:before {
    content: "Nine";
  }

  button {
    font-size: 16px;
    letter-spacing: 1px;
  }
}
